<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>

        <!--Web Links-->
        <dict>
            <key>phrase</key>
            <string>https://twitter.com/abhisheknaiidu</string>
            <key>shortcut</key>
            <string>:twitter:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>2018057@iiitdmj.ac.in</string>
            <key>shortcut</key>
            <string>:c-email:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>abhishknads@gmail.com</string>
            <key>shortcut</key>
            <string>:p-email:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>https://github.com/abhisheknaiidu</string>
            <key>shortcut</key>
            <string>:github:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>https://www.linkedin.com/in/abhisheknaiidu/</string>
            <key>shortcut</key>
            <string>:linkedin:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>https://abhisheknaidu.tech/</string>
            <key>shortcut</key>
            <string>:portfolio:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>https://abhishknads.me/</string>
            <key>shortcut</key>
            <string>:blog:</string>
        </dict>

        <!--Emoticons --> 
        <dict>
            <key>phrase</key>
            <string>( ͡° ͜ʖ ͡°)</string>
            <key>shortcut</key>
            <string>:leface:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>ʕ•ᴥ•ʔ</string>
            <key>shortcut</key>
            <string>:teddybear:</string>
        </dict>    
        <dict>
            <key>phrase</key>
            <string>¯\_(ツ)_/¯</string>
            <key>shortcut</key>
            <string>:shrug:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>™</string>
            <key>shortcut</key>
            <string>:tm:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>₹</string>
            <key>shortcut</key>
            <string>:rupee:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>©</string>
            <key>shortcut</key>
            <string>:cr:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>≠</string>
            <key>shortcut</key>
            <string>:unequal:</string>
        </dict>

        <!--Emoji's -->
        <dict>
            <key>phrase</key>
            <string>🎉</string>
            <key>shortcut</key>
            <string>:tada:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>🏠</string>
            <key>shortcut</key>
            <string>:house:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>🙈</string>
            <key>shortcut</key>
            <string>:see_no_evil:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>🙂</string>
            <key>shortcut</key>
            <string>:smiling_face:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>🥲</string>
            <key>shortcut</key>
            <string>:smiling_face_tear:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>😞</string>
            <key>shortcut</key>
            <string>:dissapointed:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>😱</string>
            <key>shortcut</key>
            <string>:shocked:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>🚀</string>
            <key>shortcut</key>
            <string>:rocket:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>🙌🏼</string>
            <key>shortcut</key>
            <string>:raise_hands:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>🤯</string>
            <key>shortcut</key>
            <string>:mind_blown:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>🙏🏼</string>
            <key>shortcut</key>
            <string>:pray:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>🤷🏽‍♂️</string>
            <key>shortcut</key>
            <string>:man_shrug:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>👀</string>
            <key>shortcut</key>
            <string>:eyes:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>🔥</string>
            <key>shortcut</key>
            <string>:fire:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>😅</string>
            <key>shortcut</key>
            <string>:sweat_smile:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>😛</string>
            <key>shortcut</key>
            <string>:p:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>😂</string>
            <key>shortcut</key>
            <string>:joy:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>🤣</string>
            <key>shortcut</key>
            <string>:rofl:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>🤔</string>
            <key>shortcut</key>
            <string>:thinking:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>🥺</string>
            <key>shortcut</key>
            <string>:plead_face:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>👍🏼</string>
            <key>shortcut</key>
            <string>:thumbs_up:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>👋🏼</string>
            <key>shortcut</key>
            <string>:hey:</string>
        </dict>

        <!--Arrows-->
        <dict>
            <key>phrase</key>
            <string>⬆️</string>
            <key>shortcut</key>
            <string>:arrow_up:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>⬇️</string>
            <key>shortcut</key>
            <string>:arrow_down:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>↑</string>
            <key>shortcut</key>
            <string>:ar-up:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>↓</string>
            <key>shortcut</key>
            <string>:ar-dn:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>←</string>
            <key>shortcut</key>
            <string>:ar-l:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>→</string>
            <key>shortcut</key>
            <string>:ar-r:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>↖</string>
            <key>shortcut</key>
            <string>:ar-nw:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>↗</string>
            <key>shortcut</key>
            <string>:ar-ne:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>↘</string>
            <key>shortcut</key>
            <string>:ar-se:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>↙</string>
            <key>shortcut</key>
            <string>:ar-sw:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>▲</string>
            <key>shortcut</key>
            <string>:ar-p-up:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>▶</string>
            <key>shortcut</key>
            <string>:ar-p-r:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>▼</string>
            <key>shortcut</key>
            <string>:ar-p-dn:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>◀</string>
            <key>shortcut</key>
            <string>:ar-p-l:</string>
        </dict>
    </array>
</plist>