<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <!--Web Links-->
        <dict>
            <key>phrase</key>
            <string>https://twitter.com/abhisheknaiidu</string>
            <key>shortcut</key>
            <string>:twitter:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>2018057@iiitdmj.ac.in</string>
            <key>shortcut</key>
            <string>:c-email:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>abhishknads@gmail.com</string>
            <key>shortcut</key>
            <string>:p-email:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>https://github.com/abhisheknaiidu</string>
            <key>shortcut</key>
            <string>:github:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>https://www.linkedin.com/in/abhisheknaiidu/</string>
            <key>shortcut</key>
            <string>:linkedin:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>https://abhisheknaidu.tech/</string>
            <key>shortcut</key>
            <string>:portfolio:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>https://blog.abhisheknaidu.tech/</string>
            <key>shortcut</key>
            <string>:blog:</string>
        </dict>
        <!--Emoticons -->       
        <dict>
            <key>phrase</key>
            <string>( ͡° ͜ʖ ͡°)</string>
            <key>shortcut</key>
            <string>:leface:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>ʕ•ᴥ•ʔ</string>
            <key>shortcut</key>
            <string>:teddybear:</string>
        </dict>    
        <dict>
            <key>phrase</key>
            <string>¯\_(ツ)_/¯</string>
            <key>shortcut</key>
            <string>:shrug:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>™</string>
            <key>shortcut</key>
            <string>:tm:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>₹</string>
            <key>shortcut</key>
            <string>:rupee:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>©</string>
            <key>shortcut</key>
            <string>:cr:</string>
        </dict>
        <dict>
            <key>phrase</key>
            <string>≠</string>
            <key>shortcut</key>
            <string>:unequal:</string>
        </dict>
        <!--Emoji's -->
        <dict>
            <key>phrase</key>
            <string>🎉</string>
            <key>shortcut</key>
            <string>:popper:</string>
        </dict> 
    </array>
</plist>